.services {
    padding-left: 14vw;
}

.servicesCont {
    display: flex;
    justify-content: space-between;
}

.servicesContent {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    width: 36vw;
}

.contentHead {
    font-family: 'Canela Web';
    font-size: 51px;
} //please